@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
}
#container{
    padding: 0px;
    margin: 0px;
}
#subContainer{
    display: flex;
    height: 87vh;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    animation: borderAnimation 4s infinite
}
.topic{
    padding: 15px;
    font-family: "Carattere", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;

}
@keyframes borderAnimation {
    0% {
      border-color: #d93f87;
    }
    25% {
      border-color: #352154;
    }
    50% {
      border-color: #68d8d8;
    }
    75% {
      border-color: #7652af;
    }
    100% {
        border-color: #d93f87;
    }
  }
#subContainer i{
    font-size: 200px;
    margin: none;
    color: lightslategray
}
#subContainer h1{
    margin: 3px;
    color: lightslategray;
}

#paraQ{
    margin: none;
    padding: none;
}
textarea{
    margin: 0px;
    outline-style: none;
    padding: 5px;
}
textarea:focus{
    border: 2px solid black;
}
#fetch{
    margin: 10px;
}
#fetch td{
    width: 25%;
}
.btnContainer{
    display: flex;
    background-color: #eeeeee;
    height: 10vh;
    align-items: center;
    position: sticky;
    top: 0;
}
.btnContainer .save-btn{
    margin-left: auto;
    background-color: #d6d6e7;
}


/* CSS */
.btnContainer button{
  align-items: center;
  margin: 10px;
  background-color: #FCFCFD;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: balck;
  cursor: pointer;
  display: inline-flex;
  font-family: "poppins",monospace;
  height: 45px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.btnContainer button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btnContainer button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnContainer button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.ok , .cancel{
    box-shadow: none;
    padding: 5px;
    height: 37px;
    margin: 2px;
    background: none;
    background-color: rgba(0, 0, 0, 0.267);
    border: none;
    font-size: 14px;
    width: 70px;
}
.ok:hover , .cancel:hover{
    background-color: rgba(0, 0, 0, 0.425);
}
.save-btn i{
    margin-left: 8px;
}